@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

*{
    scroll-behavior: smooth;
    font-family: 'Cabin', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: black;
    margin: 0px;
}

hr{
    background-color: black;
    border: 2px solid black;
}

/* Home Page */

#i nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 130px;
}

#i nav img{
    width: 60px;
    border-radius: 50%;
    margin-left: 20px;
    padding: 20px;
    transition: 0.25s ease-in-out;
}

#i nav ul{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#i nav ul li{
    margin-right: 40px;
}

#i nav a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: 0.25s ease-in-out;
}

#i nav a:hover{
    color: red;
    transform: translateY(-3px);
}

#i header{
    background-image: url("images/background_index.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
}

#i header h1{
    text-align: center;
    color: white;
    font-size: 40px;
    background-color: rgba(140, 140, 140, 0.7);
    border-radius: 20px;
}

#i header p{
    color: white;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}

#i header a{
    color: white;
}

#i header .container{
    padding: 60px;
}

#i header .container .link1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#i header .container .link1 a{
    text-decoration: none;
    font-size: 20px;
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    transition: 0.25s ease-in-out;
}

#i header .container .link1 a:hover{
    transform: translateY(-3px);
    color: black;
}

#i main{
    background: linear-gradient(90deg, rgba(199,114,0,1) 24%, rgba(248,252,67,1) 68%);
}

#i main .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}

#i main h1{
    margin: 20px;
    color: white;
    background-color: rgba(141, 208, 255, 0.7);
    border-radius: 30px;
    padding: 10px;
    width: 350px;
    font-size: 25px;
}

#i main p{
    width: 700px;
    margin-left: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    
}

#i main .a2 img{
    height: 350px;
    margin: 20px;
    border: 4px solid black;
}

#i main .a1{
    margin-left: 100px;
    margin-right: 50px;
}

#i main .a2{
    margin-right: 100px;
}

#i main .link2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#i main .link2 a{
    text-decoration: none;
    font-size: 20px;
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    transition: 0.25s ease-in-out;
    color: white;
}

#i main .link2 a:hover{
    transform: translateY(-3px);
    color: black;
}

#i footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#i footer p{
    font-size: 20px;
    color: white;
    margin: 0 50px;
}

/* Products Page */

#p nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 130px;
    z-index: 1;
}

#p nav img{
    width: 60px;
    border-radius: 50%;
    margin-left: 20px;
    padding: 20px;
    transition: 0.25s ease-in-out;
}

#p nav ul{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#p nav ul li{
    margin-right: 40px;
}

#p nav a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: 0.25s ease-in-out;
}

#p nav a:hover{
    color: red;
    transform: translateY(-3px);
}

#p header{
    height: 600px;
    padding-top: 130px;
}

#p{
    background: linear-gradient(90deg, rgba(47,156,255,1) 9%, rgba(196,0,221,1) 82%);
}

#p header{
    height: 1400px;
}

#p .articles{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}


#p article{
    position: relative;
    box-shadow: 10px 10px 5px rgb(142, 189, 206);
    transition: 0.25s ease-in-out;
    border-radius: 20px;
}

#p article:hover{
    transform: translateY(-6px);
}

#p .d1{
    height: 180px;
    width: 300px;
    background-image: url("images/b2.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#p .d2{
    height: 150px;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#p .d2 .header{
    font-size: 15px;
    color: gray;
    margin-bottom: 30px;
}

#p .d2 h1{
    font-size: 23px;
    margin-bottom: 30px;
}

#p .d2 .footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 13px;
}

#p .d3{
    height: 180px;
    width: 300px;
    background-image: url("b3.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
}

#p .box{
    background-color: #70bbff;
    color: white;
    border: 1px solid black;
    padding: 4px;
    position: absolute;
    top: 185.5px;
    left: 0px;
}

#p .box{
    font-size: 20px;
    color: black;
}

#p footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#p footer p{
    font-size: 20px;
    color: white;
    margin: 0 50px;
}

/* About Page */

#a{
    background: linear-gradient(90deg, rgba(250,180,87,1) 24%, rgba(231,146,255,1) 68%);
}

#a nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 130px;
    z-index: 1;
}

#a nav img{
    width: 60px;
    border-radius: 50%;
    margin-left: 20px;
    padding: 20px;
    transition: 0.25s ease-in-out;
}

#a nav ul{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#a nav ul li{
    margin-right: 40px;
}

#a nav a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: 0.25s ease-in-out;
}

#a nav a:hover{
    color: red;
    transform: translateY(-3px);
}

#a header{
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 130px;
}

#a header p{
    font-size: 25px;
    margin-left: 40px;
}

#a header img{
    margin-right: 40px;
    margin-left: 60px;
    padding: 20px;
}

#a main{
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#a main h1{
    margin-left: 40px;
}

#a main img{
    margin-right: 40px;
    width: 800px;
}

#a footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

#a footer p{
    font-size: 20px;
    color: white;
    margin: 0 50px;
}

/* Checkout Page */

#c{
    background: linear-gradient(90deg, rgba(250,180,87,1) 24%, rgba(231,146,255,1) 68%);
}

#c nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 130px;
    top: 0;
    z-index: 1;
}

#c nav img{
    width: 60px;
    border-radius: 50%;
    margin-left: 20px;
    padding: 20px;
    transition: 0.25s ease-in-out;
}

#c nav ul{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#c nav ul li{
    margin-right: 40px;
}

#c nav a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: 0.25s ease-in-out;
}

#c nav a:hover{
    color: red;
    transform: translateY(-3px);
}

#c header{
    margin-top: 140px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#c header .con h1{
    margin-bottom: 40px;
    text-align: center;
    padding-bottom: 60px;
}

#c header .con .con1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#c header .con .con1 .a2 img{
    width: 500px;
    padding-left: 300px;
}

#c header .con .con1 .a1{
    display: grid;
    padding: 20px;
    background: linear-gradient(90deg, rgba(255,47,89,1) 9%, rgba(136,9,247,1) 82%);
    border-radius: 30px;
}

#c header .con .con1 .a1 .af{
    width: 300px;
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
    border: 2px solid black;
}

#c header .con .con1 .a1 .l2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#c header .con .con1 .a1 .l2 a{
    text-decoration: none;
    font-size: 20px;
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    transition: 0.25s ease-in-out;
    color: white;
}

#c header .l1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#c header .l1 a{
    text-decoration: none;
    font-size: 20px;
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    transition: 0.25s ease-in-out;
    color: white;
}

#c footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#c footer p{
    font-size: 20px;
    color: white;
    margin: 0 50px;
}